@font-face {
    font-family: "chivo";
    src: url("/chivo/") format("truetype");
}

html,
body {
    height: 100%;
    width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFF;
  font-family: "chivo";
  font-weight: bold;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.splash_screen {
height: 100% !important;
width: 100% !important;
background: transparent !important;
border: none !important;
font-size: 50pt;
}

.bg_big_box {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

button {
    font-size: 20pt;
    border: none;
    background: none;
}
.buttonlike {
    font-size: 20pt;
    border: none;
    background: none;
}

h1 {
  font-family: "chivo";
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.halfl{
  width: 50%;
  float: right;
}
.halfr{
  width: 50%;
  float: left;
}

.big {

  font-size: 50pt;

}

#titel_ins {
  position: absolute;
  top: 70%;
  background-color: rgba(1,1,1,0.2f);
  border: none;
  font-size: 50pt;
  width: 95%;
  text-align: center;
}

#add_item_check {
  font-size: 40pt;
  position: absolute;
  top: 73%;
  right: 20px;
}

.wubwub {
  padding-left: 10px;
  width: 98%;
  font-size: 10pt;
}

.submenu button {
  font-size: 30pt;
}

#storage_counter {
  font-size: 50pt;
}

.small{
  font-size: 50pt
}

.centered {
  text-align: center;
}

.pad {
  padding: 10px 10px, 10px, 10px;
}

.fullsize {
  width: 100%;
}
.afull{
  width: 90%;
  height: 90%;
}

.fixed{
  position: fixed;
    padding: 3pt
}
.withimg{
background-image: url("img/1200px-Paper_cup.jpeg");
background-color: #cccccc;

}
.eightysize {
  width: 80%;
}

#image_disp2 {
  position: fixed;
  top: 0px;
  left: 0px;
}

.positive{
  background-color: green;
}
.negative{
  background-color: red;
}
