@font-face {
    font-family: "chivo";
    src: url("/chivo/") format("truetype");
}

html,
body {
    height: 100%;
    width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFF;
  font-family: "chivo";
  font-weight: bold;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.bg_big_box {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

button {
    font-size: 30pt;
    border: none;
    background: none;
}

h1 {
  font-family: "chivo";
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
}

.halfl{
  width: 50%;
  float: right;
}
.halfr{
  width: 50%;
  float: left;
}

.big {

  font-size: 110pt;

}

.small{
  font-size: 50pt
}

.centered {
  text-align: center;
}

.pad {
  padding: 10px 10px, 10px, 10px;
}

.fullsize {
  width: 100%;
}

.eightysize {
  width: 80%;
}

#image_disp {
  background-image: url();
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
}

.positive{
  background-color: green;
}
.negative{
  background-color: red;
}
